<div id="registration-form">
<%= simple_form_for(@user, :remote => :true, html: {class: 'form-inline' }) do |f| %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-inputs">
        <div class="row simple_form_row">
          <center><div class="col-xs-12">
            <%= f.input :firstname, label: "First Name", placeholder: "Michael (Justice)", required: "true"%>
          </div></center>
        </div>
        <div class="row simple_form_row">
          <center><div class="col-xs-12">
            <%= f.input :lastname, label: "Last Name", placeholder: "Kirby", required: "true" %>
          </div></center>
        </div>
        <div class="row simple_form_row">
          <center><div class="col-xs-12">
            <%= f.input :email, label: "Email", placeholder: "kirbyj@dissent.com", required: "true" %>
          </div></center>
        </div>
        <div class="row simple_form_row">
          <center><div class="col-xs-12">
            <%= f.input :shirtsize, as: :radio_buttons, collection: ['Small', 'Medium', "Large"], hint: '<br><br>You may or may not receive a cool tshirt'.html_safe, required: "true" %>
          </div></center>
        </div>
        <div class="row simple_form_row">
          <center><div class="col-xs-12">
            <%= f.input :designation, as: :radio_buttons, :item_wrapper_class => 'inline', collection: ['Legal Eagle', 'Tech King', 'Hustle Hero'], hint: "<br><br><strong>Legal Eagle</strong> - You are a legal mind and love the law<br> <strong>Tech King</strong> - Technology is your weapon<br><strong>Hustle Hero</strong> - You like to get things done".html_safe, required: "true", input_html: { class: 'inline'} %>
          </div></center>
        </div>
        <div class="row simple_form_row">
          <center><div class="col-xs-12">
            <%= f.input :thoughts, placeholder: "HackJustice sounds rather sinister", hint: "<br>A space for you to share your thoughts about hackathon or anything technology and law...or both!".html_safe, required: "true" %>
          </div></center>
        </div>
        <center><div class="form-actions">
          <%= f.button :submit, 'Join Up!' %>
        </div></center>
      </div>
    </div>
  </div>
<% end %>
</div>
