<head>
<title>HackJustice: UNSW Law Hackathon</title>
<meta name="description" content="HackJustice is Australia's oldest Law School Hackathon, encouraging students to use technology to improve access to justice">
<meta property='og:image' content="http://i66.tinypic.com/e9u24n.png"/>
</head>

		<!-- Navigation -->
		  <%= render "layouts/navbar" %>
		<!-- Header -->
		<header><body id="page-top">
		  <%= render "layouts/slider" %>
		</header>
		  <%= render "layouts/about" %>
			<%= render "layouts/why" %>
			<%= render "layouts/map" %>
			<%= render "layouts/timeline" %>
			<%= render "layouts/register" %>
			<%= render "layouts/people2" %>
			<%= render "layouts/sponsors" %>


		</body>

		<footer>
			<%= render "layouts/footer" %>
		</footer>
			<%= render "layouts/portfolioitems" %>
			<%= render "layouts/gglanalytics" %>
