		<!-- Navigation -->
		  <%= render "layouts/navbar" %>
		<!-- Header -->
		<header><body id="page-top">
		  <%= render "layouts/slider" %>
		</header>
		  <%= render "layouts/about" %>
			<%= render "layouts/why" %>
			<%= render "layouts/people" %>
			<%= render "layouts/team" %>
			<%= render "layouts/timeline" %>
			<%= render "layouts/map" %>
			<%= render "layouts/contact" %>

		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>
		</body>

		<footer>
			<%= render "layouts/footer" %>
		</footer>
			<%= render "layouts/portfolioitems" %>
