		<!-- Navigation -->
		  <%= render "layouts/navbar" %>
		<!-- Header -->
		<header>
		  <%= render "layouts/slider" %>
		</header>
		  <%= render "layouts/about" %>
			<%= render "layouts/when" %>
			<%= render "layouts/coolhover" %>
			<%= render "layouts/numbers" %>
			<%= render "layouts/partners" %>
			<%= render "layouts/team" %>
			<%= render "layouts/contact" %>

		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>

		<footer>
			<%= render "layouts/footer" %>
		</footer>
			<%= render "layouts/portfolioitems" %>
