<!DOCTYPE html>
<html>
<head>
  <title>Hackathonsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<%= yield %>

<%= javascript_include_tag "application" %>
<%#= javascript_include_tag "bootstrap.min" %>
<%#= javascript_include_tag "cbpAnimatedHeader" %>
<%#= javascript_include_tag "jquery.appear" %>
<%= javascript_include_tag "mooz.themes.scripts" %>
<%= javascript_include_tag "npm" %>
<%= javascript_include_tag "owl.carousel" %>
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "typed" %>
<script>
    $(function(){
        $(".element").typed({

            strings: ["Think <strong>beyond</strong> the law ^2000", "<strong>Change</strong> the legal system ^2000", "<strong>#</strong>HACK<strong>JUSTICE</strong>" ],
            typeSpeed: 0
        });
    });
</script>

<script>
    smoothScroll.init();
</script>


</body>
</html>
